{% extends "IMRIMLmsBundle::layout.html.twig" %}

{% block content %} 

<h1>Cr&eacute;ation d'un utilisateur</h1>

<form action="{{ path('admin_user_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Cr&eacute;er</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_user') }}">
            Retour aux utilisateurs
        </a>
    </li>
</ul>

{% endblock %} 