<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}IMRIM LMS{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/imrim/css/style.css') }}" type="text/css" media="all" />

    </head>
    <body>
        <div id="main-container">
            <div id="header">
            </div>
            <div id="menu">   
            </div>
            
        {% if app.session.flash('notice') %}
            <div class="flash-message">
                <em>Notice</em>: {{ app.session.flash('notice') }}
            </div>
        {% endif %}
            <div class="content">
            {% block content %}
            {% endblock %}
                </div>
            </div>
        </body>
    </html>