<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}IMRIM LMS{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block css %}
        <link rel="stylesheet" href="{{ asset('bundles/imrimlms/css/style.css') }}" type="text/css" media="all" />
        {% endblock %}
        {% block js %}{% endblock %}
    </head>
    <body>
        <div id="main-container">
            <div id="header">
                <div id="platform-title">Application d'E-learning</div>
                <div id="logo-provider"></div>
                <div id="logo-company"></div>
                <div id="background-banner"></div>
            </div>
            <div id="menu">
                <div id="menu-path">
                {% block menu %}
                {% endblock %}
                    </div>
                </div>

        {% if app.session.flash('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ app.session.flash('notice') }}
                </div>
        {% endif %}
                <div class="content">
            {% block content %}
            {% endblock %}
                    </div>
                </div>
                {% block bottom %}
                {% endblock %}
            </body>
        </html>