<div id="menu-block">
    <div class="block">
        <table id="menu-table" column="2">
            <caption>Menu</caption>
            <tr>
                <td><a href="{{ path('imrim_lms_course_list') }}"><img src="{{ asset('bundles/imrimlms/images/account.png') }}" alt="Account"/><br>My Account</a></td>
                <td><a href="{{ path('imrim_lms_course_list') }}"><img src="{{ asset('bundles/imrimlms/images/messages.png') }}" alt="Messages"/><br>My Messages</a></td>
            </tr>
    
            <!--tr>
                <td>Onglet3</td>
                <td>Onglet4</td>
            </tr>

            <tr>
                <td>Onglet5</td>
                <td>Onglet6</td>
            </tr-->  
        </table>
    </div>
</div>