<div id="menu-block">
    <div class="block">
        <table id="menu-table" column="2">
            <caption>Menu</caption>
            <tr>
                <td><a href="."><img src="" />Onglet1</a></td>
                <td>Onglet2</td>
            </tr>
            <tr>
                <td>Onglet3</td>
                <td>Onglet4</td>
            </tr>
            <tr>
                <td>Onglet5</td>
                <td>Onglet6</td>
            </tr>  
        </table>
    </div>
</div>