{% extends "IMRIMLmsBundle::layout.html.twig" %}

{% block content %} 
<form action="{{ path('imrim_lms_lesson_create', {'courseId':id}) }}" method="post" {{ form_enctype(form) }}>
{{ form_widget(form) }}
<input name="submit" type="submit">
</form>
{% endblock %}