{% extends "IMRIMLmsBundle::layout.html.twig" %}

{% block content %} 
<h2>Nouvelle cat&eacute;gorie</h2>

<form action="{{ path('admin_category_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Cr&eacute;er</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_category') }}">
            Retour aux cat&eacute;gories
        </a>
    </li>
</ul>
{% endblock %}
