{% extends "IMRIMLmsBundle::layout.html.twig" %}

{% block content %}
{#<img src= {{ path('pieChart') }} alt="PieChart" width="400" height="250" />#}

<h1>Nombre d'inscrits à la plateforme: {{ nbOfUsers }}</h1>

  {{ scriptJSGeo | raw }}
 {# display the pie chart created with the api google #}

{% endblock %}