{% extends "IMRIMLmsBundle::layout.html.twig" %}

{% block content %}
<h1>Pie Chart using artichow!</h1>
<img src= {{ path('pieChart') }} alt="PieChart" width="400" height="250" />

<h1>Pie Chart using the google API!</h1>

<div id="chart_div">
  {{ scriptJS | raw }}
</div> {# display the pie chart created with the api google #}

{% endblock %}