{% extends "IMRIMLmsBundle::layout.html.twig" %}

{% block content %} 
{% if error %}
<div>{{ error.message }}</div>
{% endif %}
<div class="welcome_message">
    Bienvenue sur l'application d'E-learning, veuillez vous identifiez !
</div>
<div id="login-block">
    <div class="block">
        <form action="{{ path('login_check') }}" method="post">
            <table id="login-table">
                <caption>Connexion</caption>
                <tr>
                    <td> <label for="username">Identifiant:</label></td>
                    <td><input type="text" id="username" name="_username" value="{{ last_username }}" /></td>
                </tr>
                <tr>
                    <td> <label for="password">Mot de passe:</label></td>
                    <td> <input type="password" id="password" name="_password" /></td>
                </tr>
            </table>
            <input type="submit" name="login" />
        </form>
    </div>
</div>

{% endblock %}